@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');


* {
    box-sizing: border-box;
}





.poromodoRow {
    height: 15vh;
    margin-bottom: 2rem;
}

.promoTitle {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3rem;
   
   
    
}

.promoTitle button {

    display: flex;
    justify-content: center;
    align-items: center;

    color: orange;
    border: 5px solid orange;
    border-radius: 15px;
    font-family: 'DynaPuff', cursive;
    width: 5rem;
    height: 5rem;

    transition: background-color 0.5s;
}

.promoTitle button:hover {
    
    background-color: orange;
    
    color: white;
    font-size: 15px;
}

.promoTitle h1 {
    font-family: 'DynaPuff', cursive;
    width: 15rem;
    
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    height: 5rem;
    width: 100%;
    
}

.buttons button {
    height: 4rem;
    width: 8rem;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px black;
    border: 3px solid orange;
    border-radius: 15px;
    font-family: 'DynaPuff', cursive;
    letter-spacing: 1px;
    font-size: 2rem;
    transition: background-color 0.5s;
}
.buttons button:hover {
    background-color: orange;
    color: white;

}



.tomato  {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.tomato img {
    height: 7rem;
    width: 7rem;
    margin-bottom: 1rem;
    
}



.default {
    font-family: 'Chakra Petch', sans-serif;
    display: block;
    height: 100%;
    width: 150%;
    
    padding-left: 2rem;
    font-size: 7rem;

    background-color: #F79F1F;
    
    
}

.numbersRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'item-1 item-2 item-3';
   
    
    border-radius: 5px;
    margin: 2rem auto;
    
    width: 50vw;
    height: 15rem;

    

}

.numbersRow input {
    width: 100%;
    height: 10rem;
    font-size: 7rem;
    padding-left: 2rem;
    
    
}

.numbersRow input::-webkit-inner-spin-button{
    width: 0;
    height: 0;
}
.numbersRow input:focus{
    outline: 2px solid orange;
   
}

.numbersRow input[type=number]:hover::-webkit-inner-spin-button {  
    width: 0;
    height: 0;
    background: #F79F1F;
    color: #F79F1F;
}



.item-1 {
    grid-area: item-1;
    width: 10vw;
    
}
.item-2 {
    grid-area: item-2;
    width: 10vw;
    position: relative;
}
.item-3 {
    grid-area: item-3;
    width: 10vw;
}








@keyframes tickTack {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.numbers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 10rem;
    width: 13rem;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 7rem;
    
    
}

.numbers-label {
    position: absolute;
    font-family: 'Chakra Petch', sans-serif;
    top: 125%;
    left: 50%;
    width: 13rem;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 0 2px orange;
    letter-spacing: 2px;
    
    text-align: center;
}

