@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

* { 
    
    font-family: 'Roboto', sans-serif;

    

}

.nav {
    position: sticky;
    background-color: #1B1464;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 25vh;
    
    
}

.nav img {
   
    margin-bottom:1.1rem ;
    height: 7rem;
    
   
}

.rowLinks {
    background-color: #1B1464;
    
    width: 40rem;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    
   
    
    

}

.Logo {
   
    text-align: center;
}

.active {
    background-color: #EE5A24;
}

.rowLinks a {
    background-color: #1B1464;
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

.rowLinks a:hover {
    color: #F79F1F;
    border-bottom:solid;
    box-shadow: 0 1px;
    border-radius: 5px;

}



