.notesNav{
    
}

.taskCol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
    padding-top: 0.5rem;
    
    margin: 0.5rem;
}

.setTime {
    width: 4rem;
}

.titleSide {
    display: flex;
    flex-direction: column;
}

.notesNav a {
    text-decoration: none;
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
}

.labels {
    border: none;
    
    padding-left: 5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

}

#highLabel {
    border-bottom: 2px solid rgba(255, 0, 0, 0.8);
    
   
}

.highTask {
    border-left: 4px solid red;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    
    
    
   
}
.highTask:hover {
    
    border-left: 4px solid red;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    box-shadow: 5px 5px rgba(red, red, red, 0.5);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}




#middleLabel {
    border-bottom: 3px solid rgba(229, 255, 0, 0.8);
}


.middleTask {
    border-left: 4px solid rgba(229, 255, 0, 0.8);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    
    
    
   
}
.middleTask:hover {
    
    border-left: 4px solid yellow;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
    box-shadow: 5px 5px rgba(yellow, yellow, yellow, 0.5);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#lowLabel {
    border-bottom: 3px solid rgba(0, 255, 0, 0.8);
}

.lowTask {
    border-left: 4px solid rgba(0, 255, 0, 0.8);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    
    
    
   
}
.lowTask:hover {
    
    border-left: 4px solid rgba(0, 255, 0, 0.8);
    border-top: 1px solid rgba(0, 255, 0, 0.8);
    border-bottom: 1px solid rgba(0, 255, 0, 0.8);
    box-shadow: 5px 5px rgba(rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0.8), 0.5);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}



#myForm {
    margin-top: 3rem;
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #12353a!important;
    border: 2px solid white;
    border-radius: 15px;
   
}

.form-outline {
    background-color: #12353a;
}

.form-label {
    background-color: #12353a;
}

